/**********************************************Tags*************************************/
body{
    margin: 0;
}
/***********************************************Class***********************************/
.meet-img
{
    margin-left:40% ;
    width: 80%;
}
.br
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    text-shadow: 5px 5px #000;
}
.nav-item
{
    margin: 0 10px;
}
.nav-link
{
    font-size: 1.2rem;
    font-weight: bold;
}
.but
{
    margin: 10% 4% 0 4%;
}
/***********************************************ID**************************************/
#title
{
    padding: 7% 15%;
    background-color:#A2D2FF;
}
/****************************************************register page**************************/
